{% extends 'base.html.twig' %}
    {% block body %}
        <h2>Vos réservations</h2>
        <div class="sessions">
            {% for session in sessions %}
                <div class="session">
                    <p>Réservation du {{ session.date|date("d/m/Y H:i") }}</p>
                    <p>Salle n°{{ session.room_number }} : {{ session.room_title }}</p>
                    <p>Nombre de place(s) prise(s) : {{ session.places }}</p>
                    <span class="delete">
                        <i class="fas fa-calendar-times"></i>
                        <a href="{{ path('delete_book', {'id' : session.book_id }) }}">Supprimer cette réservation</a>
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endblock %}