{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% if username != null %}
            <h1>Bonjour {{ username }}</h1>
        {% endif %}

        <h2>TOUS LES FILMS</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Envoyer"/>
        {{ form_end(form) }}
        {% if err != null %}
            <span>{{ err }}</span>
        {% endif %}
        {% if sch_movies != null %}
            <div id="search_render">
                {% for sch_movie in sch_movies %}
                    <p>{{ sch_movie.title }}</p>
                    <p>{{ sch_movie.genre }}</p>
                    <p>{{ sch_movie.duration }}</p>
                    <p>{{ sch_movie.poster }}</p>
                    <p>{{ sch_movie.releaseDate|date("d/m/Y H:i") }}</p>
                    <a class="movie__button" href="{{ path('movie', {'id': sch_movie.id}) }}">Vers la page du film</a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="movies">
            {% for movie in movies %}
                <div class="movie">
                    <p>{{ movie.title }}</p>
                    <p>{{ movie.poster }}</p>
                    <p>De {{ movie.producer }}</p>
                    <p>{{ movie.releaseDate|date("d/m/Y H:i") }}</p>
                    <a class="movie__button" href="{{ path('movie', {'id': movie.id}) }}">Vers la page du film</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}