{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div>
                {% set duration = movie.duration / 60 %}
                <h1>Description du film</h1>
                <h2>{{ movie.title }}</h2>
                <span>{{ movie.genre }}</span>
                <p>{{ duration|number_format(2, 'h') }}</p>
                <img src="{{ movie.image }}" />
                <p>{{ movie.synopsis }}</p>
                <p>{{ movie.producer }}</p>
            </div>

            <div>
                <h1>Séances</h1>
                {% if currentUserId != null %}
                    {% if err != null %}
                        <span>{{ err }}</span>
                    {% endif %}
                    {% for session in sessions %}
                        <p>{{ session.title }}</p>
                        <p>Le {{ session.date|date("d/m/Y H:i:s") }}</p>

                        <a class="booking__button"
                           href="{{ path('book', { 'sessionId': session.id,
                               'movieId': movie.id }) }}">Réserver
                            une place</a>
                    {% endfor %}
                {% else  %}
                    <p><a href="{{ path('login') }}">Conectez-vous</a> pour voir les séances disponibles !</p>
                {% endif %}
            </div>
        </div>
    {% endblock %}

